asf/parallel_map-reduce_example.json
{
  "Comment": "Parallel Map Example",
  "StartAt": "SetupParameters",
  "States": {
    "SetupParameters": {
      "Type": "Pass",
      "Result": [
        1,
        2,
        3
      ],
      "ResultPath": "$.my_array",
      "Next": "Map"
    },
    "Map": {
      "Type": "Map",
      "InputPath": "$.my_array",
      "Iterator": {
        "StartAt": "MapPhase",
        "States": {
          "MapPhase": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "Map1",
                "States": {
                  "Map1": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              },
              {
                "StartAt": "Map2",
                "States": {
                  "Map2": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              }
            ],
            "End": true
          }
        }
      },
      "Next": "Reduce"
    },
    "Reduce": {
      "Type": "Pass",
      "End": true
    }
  }
}